body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Inter", sans-serif;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.top-nav {
    height: 112px;
    gap: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #003471;
}

.milklogo {
    width: 200px;
    height: 100px;
}

.top-nav-info {
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 18.2px;
    padding: 10px;
    text-transform: uppercase;
}

.top-nav-info ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
    margin-right: 30px;
}

.top-nav-info li {
    display: inline;
}

.top-nav-info a {
    text-decoration: none;
    color: white;
}

.shopxava {
    display: flex;
    gap: 16.8px;
}

.shopxava img {
    width: 26px;
    height: 26px;
}

.page-container {
    position: relative;
    padding-top: 50px;
}

.top-container {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.container {
    list-style-type: none;
    padding: 10px;
    display: flex;
    gap: 5px;
    margin-right: 50px;
    margin-top: 50px;
}

.container li {
    display: inline;
}

.container a {
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
}

.container a.active {
    color: red;
}

.container img {
    width: 23px;
    height: 23px;
}

.main-container {
    max-width: 800px;
    margin: 50px auto 0px;
    padding: 20px;
}

.main-container h2 {
    text-align: left;
    font-weight: 700;
    font-size: 40px;
    color: black;
    line-height: 66.56px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.011em;
    text-align: left;

}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #003471;
    color: #FFFFFF;
    font-size: 20px;
}

.form-group small {
    display: block;
    margin: 0px 0px 20px 0px;
    color: #000000;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.011em;
    text-align: left;
}

.btn {
    width: 238px;
    height: 45px;
    padding: 9px 16px 12px 30px;
    border-radius: 999px;
    background: #003471;
    color: white;
    border: none;
    font-size: 25px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    display: block;
    margin-top: 35px;
    margin-left: auto;
}

/*  */

.bottom-nav {
    padding: 20px;
    color: white;
    text-align: center;
}

.footer-container {
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.black-logo img {
    margin-top: 100px;
    display: inline-block;
    vertical-align: middle;
    width: 300px;
    height: 250px;
}

.footer-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background: #252525;
    padding: 100px;
    border-radius: 10px;
}

.left-info,
.right-info {
    display: flex;
    gap: 60px;
}

.info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.info a {
    color: white;
    text-decoration: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.011em;
}

.right-info form {
    display: flex;
    align-items: center;
}

.right-info input[type="email"] {
    padding: 10px;
    border: 1.12px solid #FFFFFF;
    border-right: none;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    background-color: #252525;
    color: #FFFFFF;
    border-radius: 4px 0 0 4px;
}

.right-info button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: red;
    color: white;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-info button:hover {
    background-color: darkred;
}

.bottom-nav p {
    margin-top: 20px;
    font-family: 'Be Vietnam Pro', sans-serif;
    line-height: 24px;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}